NODE_ENV=development

#DATABASE
DB1_HOST=localhost
DB1_PORT=5432
DB1_NAME=seguridad
DB1_USER=postgres
DB1_PASS=123

#APP CONFIGURATION
APP_PORT=3000



#CORS
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-this-in-production
JWT_EXPIRES_IN: '15m'
JWT_REFRESH_EXPIRES_IN: '7d'
BCRYPT_ROUNDS: 10

#CORS
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:4200,http://localhost:5173


# DB2_HOST=localhost
# DB2_PORT=5432
# DB2_NAME=seguridad
# DB2_USER=postgres
# DB2_PASS=123


